{% extends 'base.html' %}

{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %}
    Change Password Successful
{% endblock %}

{% block content %}
    <div class="container">
        <div class="board-title">
            <div class="board-name">
                <a href="{% url 'change_password' %}">Change Password</a>
            </div>
        </div>

        <div class="alert alert-success" role="alert">
            Your password has been successfully changed :)
        </div>
        <a href="{% url 'boards:home' %}">Return To Home</a>
    </div>
{% endblock %}
