{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ topic.subject }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="board-title">
            <div class="board-name">
                <a href="{% url 'boards:home' %}">Boards</a> /
                <a href="{% url 'boards:board_topics' topic.board.id %}">{{ topic.board.name }}</a> /
                {{ topic.subject }} / Post reply
            </div>
        </div>
    </div>
{% endblock content %}

{% block body %}
<form action="" method='POST' class='mb-4' enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {%include 'includes/form.html' %}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Reply the post</button>
    </div>
</form>

<div class="col-12">
    {% for post in topic.posts.all %}
        <div class="row" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; width: 62%;">
            <div class="col-2">
                <img src="{% static 'img/user.png' %}" alt="{{ post.created_by.username }}" style="width: 70%;">
            </div>
            <div class="col-10">
                <p>{{ post.created_by.username }}</p>
                <p>{{ post.message }}</p>
                <p>{{ post.created_dt }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}
